@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif, sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    transition: top 0.3s;
    z-index: 1000;
}
.nav-links {
    list-style-type: none;
    display: flex;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.navbar.hidden {
    top: -70px;
}
section {
    padding: 50px;
}
.about{
    text-align:center;
}
.portfolio, .skills {
    text-align:left;
}
.portfolio h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.portfolio-grid {
    display: flex; 
    justify-content: center; 
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    position: relative;
    background: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    border-radius: 15px; 
}
 .portfolio-item:hover {
    transform: scale(1.1);
}
.portfolio-item .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    border-radius:0 0 15px 15px;
}

.portfolio-item:hover .text-overlay {
    opacity: 1;
}
.portfolio-item img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.profile-picture img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.profile-picture {
    margin: 40px 0; 
    display: flex;
    justify-content: center; 
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('mh.jpg');
    background-size: cover;
    background-position: center;
    color:#333;
    text-align: center;
    position: relative;
}
.fo {
        font-size: 2rem;
        display:flex ;
        justify-content: space-between;
        text-align: center;
}

 .fo {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.fo ul {
    list-style: none; 
    padding: 0;
}

.fo p {
    margin: 5px 0;
}
.title {
    text-align:left; 
    margin-right: 20px;
}
.contact {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.contact h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s;
}

.contact-item:hover {
    color: #ff4d4d; 
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
